.dashboard-title {
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 400;
  color: #334e68;
}

.content {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
}

/* .copyright {
  color: #334e68;
  text-align: center;
  position: relative;
  bottom: 2rem;
} */
