.ticketlist {
  display: inline-block;
  min-height: 500px;
  max-height: 630px;
  width: calc((100vw - 80px) * (9.4 / 12));
  /* border: 2px solid gold; */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  overflow: scroll;
}

.ticketlist-header {
  background-color: hsl(210, 36%, 97%);
  border-radius: 8px 8px 0 0;
}

.ticketlist-header-list {
  padding: 0 40px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 7fr 2.5fr 3fr 4.5fr 3fr;
}

.ticketlist-header-list > li {
  padding: 16px 0;
  color: #334e68;
  text-transform: uppercase;
  font-size: 14px;
  /* border: 1px solid green; */
}
