/* .updatelist {
    display: inline-block;
    min-height: 500px;
    width: calc((100vw - 80px) * (2.4 / 12));
    margin-left: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.updatelist-header {
    padding: 16px;
    background-color: hsl(210, 36%, 97%);
    border-radius: 8px 8px 0 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #334E68;
} */