.ticketlistitem-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 7fr 2.5fr 3fr 4.5fr 3fr;
}

.ticketlistitem {
  font-size: 14px;
  padding: 20px 40px;
  border-bottom: 1px solid hsl(210, 36%, 96%);
  color: #262626;
  cursor: pointer;
}

.none-bg:hover {
  background-color: hsl(210, 36%, 97%);
}

.Yellow-bg {
  background: #fee29a;
}
.Yellow-bg:hover {
  background: #fdd368;
}

.Blue-bg {
  background: #9accfe;
}
.Blue-bg:hover {
  background: #68b3fd;
}

.Green-bg {
  background: #9afe9a;
}
.Green-bg {
  background: #68fd68;
}

.Red-bg {
  background: #fe9a9a;
}
.Red-bg:hover {
  background: #fd6868;
}

.Purple-bg {
  background: #b39afe;
}
.Purple-bg:hover {
  background: #8d68fd;
}

.Violet-bg {
  background: #fe9afe;
}
.Violet-bg:hover {
  background: #fd68fd;
}
